extends layout 

block content
  h4 Sign in
  form(action='/login/password' method='post')
    section
      label(for='username') Username
      input#username(name='username' type='text' autocomplete='username' required='' autofocus='')
    section
      label(for='current-password') Password
      input#current-password(name='password' type='password' autocomplete='current-password' required='')
      input(type="hidden" name="_csrf" value=csrfToken)
    button(type='submit') Sign in
  form(action='/google' method='get')
    section
    button(type='submit') Login con Google
  hr
  p.help
    | Don't have an account? 
    a(href='/signup') Sign up
