extends layout

block contentSignUp
  h4 Sign up
  form(action='/signup' method='post')
    section
      label(for='username') Username
      input#username(name='username' type='text' autocomplete='username' required='')
    section
      label(for='new-password') Password
      input#new-password(name='password' type='password' autocomplete='new-password' required='')
    section
      label(for='new-password-confirmation') Password Confirmation
      input#new-password-confirmation(name='password_confirmation' type='password' autocomplete='new-password' required='')
      input(type='hidden' name='_csrf' value=csrfToken)
    button(type='submit') Sign up
  hr
  p.help
    | Already have an account? 
    a(href='/login') Sign in