extends layout

block content
	h3 HOME 
	p Eccoci nella home di: #{userId}
	section 
		form(action='/reservation' method='get')
			button(type='submit') effettua una nuova prenotazione
	section
		#map
		script(src='javascripts/webmap.js' charset='utf-8') 
		
