extends layout

block content
    section.personalArea
        p Ecco la tua area personale

        section.calendario
            block contentCalendario
                #calendar 
                script(src='javascripts/fullcalendar.js')

