extends layout 

block content
	#centeredForm.ms-auto.me-auto
		#recoverytkn
			h1 Cambia password
			form(action='/password_recovery_tkn' method='post')

				label.mt-2(for='new-password') Password
				input#new-password(name='password' type='password' autocomplete='new-password' required='')

				label.mt-2(for='new-password-confirmation') Password Confirmation
				input#new-password-confirmation(name='password_confirmation' type='password' autocomplete='new-password' required='')
				input(type='hidden' name='_csrf' value=csrfToken)

				button.mt-4(type='submit') Cambia password