extends layout

block content
	#centeredForm.ms-auto.me-auto
		#signup
			h1 Sign up
			form(action='/signup' method='post')

				label.mt-3(for='username') Username
				input#username(name='username' type='text' autocomplete='username' required='')

				label.mt-3(for='new-password') Password
				input#new-password(name='password' type='password' autocomplete='new-password' required='')

				label.mt-3(for='new-password-confirmation') Conferma Password
				input#new-password-confirmation(name='password_confirmation' type='password' autocomplete='new-password' required='')
				input(type='hidden' name='_csrf' value=csrfToken)

				button.mt-4(type='submit') Registrati

			hr
			p.help
				label Hai gia un account?
				a.mx-2(href='/login') Accedi